#Inicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}

.inicio{

    margin: 10px;
    background-color:rgb(60, 159, 240);
    color:rgb(0, 71, 129);
    border: 5px solid rgb(253, 250, 250);
}

.img_inicio{
    width: 100px;
}





